[
  {
    "relation": [
      "delegate_permission/common.handle_all_urls"
    ],
    "target": {
      "namespace": "android_app",
      "package_name": "com.penakkemping.app",
      "sha256_cert_fingerprints": [
        "GANTI_DENGAN_SHA256_RELEASE_KEYSTORE"
      ]
    }
  }
]
